.InputContainer{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    height: 80%;
    padding: 10px 10px 10px 10px;
    margin: 10% 35% 10% 35%;
    background: linear-gradient(320deg, rgb(248, 248, 248, 0%), rgb(248, 248, 248, 78%));
}
.Input{
    background: white;
    border-radius: 10px;
    margin: 20px 10px 15px 10px;
}
.Button{
    background: linear-gradient(0deg, rgba(28, 115, 129, 1), rgba(255, 185, 75, 0.75));
    border-radius: 0px;
}